body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  /* background-image: url(brushed.png); */
  width: 100%;
  height: 100%;
  margin-top: 10px;
  align-content: center;
  font-weight: 300;
  color: #333;
  margin: 0px; padding: 0px;
}


#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 70px;
  margin-left: 30%;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 180px;
  left: 405px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#post {
  position: absolute;
  top: 130px;
  left: 720px;
  width: 240px;
  text-align: center;
  color: #666;
  
}

#percentage {
  font-size: 2.5em;
}

h1 {
  margin: 0.2;
  color: steelblue;
  font-weight: 800;
  font-size: 1.7em;
}
h2 {
  color: steelblue;
  font-size: 1.8em;
  padding-bottom: 5px;
  text-align: center;
}

/* Header */
.header {
  margin-top:10px;
  text-align: center;
}
.tagline {
  margin: 0.2;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
}
.interaction {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  border-radius: 10px;
  width: 650px; 
  padding-top: 5px; 
  padding-bottom: 5px;
  border: 1.5px solid #A0A0A0;
  background: rgb(245, 242, 242);
  margin-left: 25%;
}
#product_title {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 2em;
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: 200;
  color: #0a6406;
}
@media (min-width: 990px) {
  #product_title{
      font-size: 2.5em;
  }
  .tagline {
      font-size: 11px;
  }
}
.dark {
  font-weight: 800;
}

/* MLVL Logo */
#mlvl_logo {
  position: absolute;
  left: 1%;

}
.logo-img {
  width: 130px;
}

/* About links */
#about_link {
  position: absolute;
  right: 1%;
  top: -0em;
  text-align: center;
  font-size: .8em;
}
.questionmk {
  font-size: 1.5em;
}
@media (min-width: 990px) {
  .logo-img {
      width: 100px;
  }
  #about_link {
      font-size: 1em;
  }
  .questionmk {
      font-size: 3em;
  }   
}
@media (min-width: 990px) {
  #perspective-sunburst {
      margin-top: 12%;
      margin-left: 12%;
  }
}

/* Footer */
#footer {
  width: 100%;
}
#chart_footer {
  position: fixed;
  bottom: 0;
  width: 99%;
  margin-right: 1em;
}
@media (min-width: 990px) {
  #chart_footer {
      position: fixed;
      bottom: 0;
      right: 0;
      width: inherit;
      
  }
}
#links {
  display: block;
  text-align: right;
  height: 100%;
  font-size: 1.2em;
  padding: .9em;
}
#links a, #about_link a {
  color: #0e7207;
}
#links a:hover, #about_link a:hover {
  color: #666;
}
@media (min-width: 990px) {
  #links {
      font-size: .9em;
  }
}
#dac_logo {
  display: block;
  z-index: 1000;
  text-align: left;
  margin-left: 3%;
}
#dac_logo img {
  height: 60px;
}

@media (min-width: 990px) {
  #dac_logo {
      text-align: left;
  }
  #dac_logo img {
      height: 60px;
  }
}


/* About */
.about {
  margin: auto;
  max-width: 800px;
  padding: 20px;
  display: inherit;
}

.about > .header {
  margin-bottom: 20px;
}

.h-link {
  color: #33a02c;
}

.about > .footer {
  text-align:center;
  margin-top: 20px;
  font-style: italic;
  font-size: 12px;
}

.image-holder {
  text-align: center;
}

.image-holder img {
  width: 100%;
}